/*!	* base.css * CSS Document * The site is designed by LEBANG,Inc 11/2015 */

@charset "utf-8";
* {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 12px;
    background-color: #fff;
}

body,
button,
input,
select,
textarea {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}


/* 重新声明固定宽度字体系列: h5bp.com/j */

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}


/* 改善所有浏览器中预先格式化的文本的可读性 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}

ul li {
    list-style: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/* Form */

label,
input,
select {
    vertical-align: middle;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
    *overflow: visible;
}

table button,
table input {
    *overflow: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

select {
    -webkit-appearance: none;
    border-radius: 0;
    /* mobile-select设置*/
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
select,
textarea {
    -webkit-appearance: none;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
}

*:focus {
    outline: none;
}


/* 用于表单验证的颜色 */

input:valid,
textarea:valid {}

input:invalid,
textarea:invalid {
    background-color: #f0dddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 同时在屏幕读取器和浏览器中隐藏: h5bp.com/u */

.hidden {
    display: none !important;
    visibility: hidden;
}


/* 仅可视隐藏，但在屏幕读取器中可用: h5bp.com/v */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* 扩展 .visuallyhidden 类以允许元素可在通过键盘浏览时成为焦点: h5bp.com/p */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/* 可视隐藏且在屏幕读取器中隐藏，但保留布局 */

.invisible {
    visibility: hidden;
}


/* 包含浮动: h5bp.com/q */


/*浮动*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mainbody {
    overflow: hidden;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.imgBg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.motion {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lineTwo {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.msg-pop-main {
    background: rgba(0, 0, 0, 0.5);
    max-width: 250px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1001;
    display: none;
    border-radius: 3px;
    font-size: 12px;
}

.msg-pop-main p {
    padding: 10px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}

.xs-show {
    display: none !important;
}

.xs-hidden {
    display: block !important;
}

@media screen and (max-width: 750px) {
    .xs-show {
        display: block !important;
    }
    .xs-hidden {
        display: none !important;
    }
}